# Local .terraform directories
**/.terraform/*
!.terraform/providers

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# Sensitive variable files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration file
.terraformrc
terraform.rc

# Lock file (can include if you want reproducible builds)
.terraform.lock.hcl


#mac ds_folder
.DS_Store
*.terraform/
